@{ 
    LojaCorp.Control.MultiCd MultiCd = (LojaCorp.Control.MultiCd)Session["MultiCd"];
}
<div class="ui container fluid topbar" id="top_bar">
    <div class="ui container">
       <div class="ui four column grid slideTopbar ">
               <div class="column first" >
                <span >
                    entrega para todo brasil
                </span>
               </div>
                <div class="column second">
                <span>
                    troca facilitada
                </span>
               </div>
                <div class="column three">
                <span>
                    em até 10x sem juros
                </span>
               </div>
                <div class="column four">
                <span>
                    desconto no boleto
                </span>
               </div>
           </div>
    </div>
</div>